@model Project_test.Models.Product
@using System.Security.Claims


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <img src="~/images/@Model.ImagePath" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-6">
            <h2>@Model.Name</h2>
            <p>Price: SEK @Model.Price</p>
            <p>Description: @Model.Description</p>
            <p>Category: @Model.Category.Name</p>
        </div>
    </div>

</div>
@if (User.Identity.IsAuthenticated)
{
    
    if (Model.UserId == User.FindFirst(ClaimTypes.NameIdentifier)?.Value)
    {
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a> |
        </div>
    }
    else if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
        </div>
    }

}
<div>
    <a asp-action="Index">Back to List</a>
</div>
